global:
  scrape_interval: 5s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ['prometheus:9090']

  # 监控宿主机
  - job_name: "node"
    static_configs:
      #- targets: ['localhost:19100']
      - targets: ['10.0.0.161:19100']
